# get these from spotify API
SPOTIFY_CLIENT_ID=CLIENT_ID
SPOTIFY_CLIENT_SECRET=CLIENT_SECRET

# change these for your app
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8080/auth/callback
SPOTIFY_SCOPES=user-library-read user-library-modify playlist-read-private playlist-read-collaborative user-library-modify playlist-modify-private playlist-modify-public
FRONTEND_URL=http://127.0.0.1:3000/

# PSQL 
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=

ENV=dev

# pick any secret key
SESSION_SECRET_KEY=